@page "/cayleytable"

@using GroupsPlayground.Blazor.Data
@using Microsoft.AspNetCore.WebUtilities
@inject WeatherForecastService forecastService
@inject NavigationManager navigationManager

<h1>Cayley table</h1>

<p>Define the group operation by filling in the Cayley table.</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            @foreach (var symbol in cayleyTable.Symbols)
            {
                <th>@symbol.ToString()</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var symbol in cayleyTable.Symbols)
        {
            <tr>
                <th>@symbol.ToString()</th>
                @for (int i = 0; i < cayleyTable.Size; i++)
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

<button onclick="window.location.href='/groupproperties'">Back</button>
<button onclick="window.location.href='/'">Finish</button>

@code {
    private Domain.CayleyTable cayleyTable;

    protected override void OnInitialized()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var components = QueryHelpers.ParseQuery(uri.Query);
        int size = int.Parse(components["size"].Single());
        cayleyTable = new Domain.CayleyTable(Guid.NewGuid(), size);
    }
}
