@page "/GroupElementWorkspace"
@using GroupsPlayground.Domain
@using GroupsPlayground.Domain.Groups
@using GroupsPlayground.Persistence
@using GroupsPlayground.Persistence.Groups
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager

<h1>Workspace@((group == null) ? string.Empty : (": " + group.Name))</h1>

@if (group != null)
{
    <div>
        @foreach (var element in group.Elements)
        {
            <button class="btn btn-primary">@element.Symbol</button>
        }
    </div>
}

@code {
    private CayleyTableGroup group;

    protected override void OnInitialized()
    {
        var query = QueryHelpers.ParseQuery(navigationManager.ToAbsoluteUri(navigationManager.Uri).Query);
        if (!query.TryGetValue("group", out var idStringValues))
            return;
        if (idStringValues.Count != 1)
            return;
        string idString = idStringValues.Single();
        if (!Guid.TryParse(idString, out var id))
            return;
        using Session session = new();
        group = session.GroupRepository.GetGroup(id) as CayleyTableGroup;
    }

}
