@page "/ViewGroup"
@using Microsoft.AspNetCore.WebUtilities
@using GroupsPlayground.Persistence
@using GroupsPlayground.Domain
@using GroupsPlayground.Domain.Groups
@using GroupsPlayground.Persistence.Groups
@inject NavigationManager navigationManager

<h1>View group@((group == null) ? string.Empty : (": " + group.Name))</h1>

@if (group != null)
{
    <div>
        <h2>Size</h2>
        <p>@group.Size</p>
    </div>
    <div>
        <h2>Elements</h2>
        @if (elements == null)
        {
            <p>???</p>
        }
        else
        {
            @foreach (var element in elements)
            {
                <div class="btn btn-primary">@element.Symbol</div>
            }
        }
    </div>
}

@code {
    private Group group;
    private IReadOnlyList<IGroupElement> elements;

    protected override void OnInitialized()
    {
        var query = QueryHelpers.ParseQuery(navigationManager.ToAbsoluteUri(navigationManager.Uri).Query);
        if (!query.TryGetValue("id", out var idStringValues))
            return;
        if (idStringValues.Count != 1)
            return;
        string idString = idStringValues.Single();
        if (!Guid.TryParse(idString, out var id))
            return;
        using Session session = new();
        group = session.GroupRepository.GetGroup(id);
        elements = (@group as CayleyTableGroup)?.Elements;
    }
}
