@inherits WizardStepContent

<h3>Group properties</h3>

<EditForm EditContext="@formContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label for="name">Name:</label><br />
        <InputText id="name" @bind-Value="model.Name" /><br />
    </p>
    <p>
        <label for="size">Size:</label><br />
        <InputNumber id="size" @bind-Value="model.Size"></InputNumber><br />
    </p>
</EditForm>

@code {
    private GroupPropertiesModel model;
    private EditContext formContext;

    protected override void OnInitialized()
    {
        model = new GroupPropertiesModel();
        formContext = new EditContext(model);
    }

    public string Name => model.Name;

    public int Size => model.Size;

    public override bool Validate() => formContext.Validate();
}
